.navbar{
    background: linear-gradient(90deg,#003366,#0057b8);
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:26px;
    font-weight:bold;
}

.logo span{
    color:#ffd700;
}

.menu{
    display:flex;
    list-style:none;
    gap:30px;
    margin:0;
    padding:0;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
    font-weight:500;
}

.menu a:hover{
    color:#ffd700;
}

.menu .active{
    color:#ffd700;
    border-bottom:2px solid #ffd700;
    padding-bottom:5px;
}